.promo {
  position: relative;
  background-color: #dddee3;
  background-image: url(../../images/main-landing_img.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 184px 0 224px;
}
.promo__title {
  max-width: 730px;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  align-self: center;
  margin: 0;
}

@media screen and (max-width: 999px) {
  .promo {
    padding: 326px 0 342px;
  }
}

@media screen and (max-width: 523px) {
  .promo {
    padding: 207px 10px 246px;
  }
  .promo__title {
    font-size: 31px;
    line-height: 39px;
  }
}
