@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

.page {
  min-width: 320px;
  background-color: #fafafa;
  color: black;
  font-family: Inter, Arial, sans-serif;
}
.page__content {
  max-width: 1280px;
  margin: 0 auto;
}
