@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

.page {
  min-width: 320px;
  background-color:#FAFAFA;
  color: black;
  font-family: Inter, Arial, sans-serif;
}
.page__content {
  max-width: 1280px;
  margin: 0 auto;
}

.more{
  background-color: #FAFAFA;
  padding: 50px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.more__button{
  background-color: #F4F4F4;
  border-radius: 6px;
  border-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 320px;
  height: 36px;
  cursor: pointer;
}
.more__button:hover{
  opacity: 0.8;
}
.login{
  padding: 70px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login__form{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 396px;
}
.login__logo{
  width: 38px;
}
.login__header{
  position:relative;
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  margin: 40px 0 16px;
}
.login__input{
  outline: none;
  border: 0;
  border-bottom: 1px solid #E8E8E8;
  color: black;
  background-color: transparent;
}
.login__label{
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin: 24px 0 5px;
}
.login__button{
  min-height: 45px;
  background-color:#3456F3;
  color: white;
  border:none;
  border-radius: 3px;
  padding: 0;
  margin: 69px 0 16px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}
.login__button:hover{
  opacity: 0.8;
}
.login__sign-in{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}
.login__error{
  opacity:0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color:red;
  margin-top: -25px;
  margin-bottom: 13px;
  height: 12px;
}
.login__error_is-active {
  opacity: 1;
}
.login__link {
  color: #3456F3;
  text-decoration: none;
  margin-left: 6px;
}
@media screen and (max-width: 999px) {
  .login{
      padding: 232px 0;
 }
  .login__header{
      margin: 40px 0 16px;
 }
  .login__input{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
 }
  .login__button{
      margin: 134px 0 16px;
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      cursor: pointer;
 }
}
@media screen and (max-width: 442px) {
  .login {
      padding: 58px 30px 30px;
      justify-content: center;
      text-align: center;
 }
  .login__form{
      max-width: 260px;
      align-self: center;
 }
  .login__logo{
      align-self: center;
 }
  .login__header{
      margin: 50px 0 80px;
      align-self: center;
      font-size: 24px;
      line-height: 29px;
 }
  .login__label{
      font-size: 10px;
      line-height: 12px;
      max-width: 260px;
 }
  .login__input{
      font-size: 14px;
      line-height: 17px;
      max-width: 260px;
 }
  .login__button{
      max-width: 260px;
      margin: 222px 0 14px;
      font-size: 12px;
      line-height: 15px;
 }
  .login__sign-in{
      font-size: 12px;
      line-height: 15px;
 }
  .login__link {
      font-size: 12px;
      line-height: 15px;
 }
}
.not-found-page {
  padding: 246px 0 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 999px) {
  .not-found-page {
      padding: 408px 0 222px;
 }
}
@media screen and (max-width: 523px) {
  .not-found-page {
      padding: 329px 0 354px;
 }
  .not-found-page__header{
      font-size: 80px;
      line-height: 97px;
      margin: 0 0 10px 0;
 }
  .not-found-page__text{
      font-size: 12px;
      line-height: 15px;
 }
  .not-found-page__link{
      font-size: 12px;
      line-height: 15px;
 }
}
.not-found-page__header {
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  margin: 0 0 5px 0;
}
.not-found-page__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 184px 0;
}
.not-found-page__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #3456F3;
  margin:0;
  text-decoration: none;
}
.profile{
  padding: 74px 0 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}
.profile__form{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 410px;
}
.profile__header{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  align-self: center;
  margin: 0 0 123px 0;
}
.profile__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}
.profile__row_invisible{
  border-bottom: none;
}
.profile__text{
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 16px 0 16px 0;
}
.profile__button{
  color:black;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  background-color: transparent;
  border-style: none;
  margin: 220px 0 16px 0;
  cursor: pointer;
}
.profile__button:hover{
  opacity: 0.8;
}
.profile__link{
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #EE3465;
  text-decoration: none;
  margin: 0;
}
@media screen and (max-width: 999px) {
  .profile {
      padding: 236px 0 260px;
 }
  .profile__form{
      width:410px
 }
  .profile__header{
      margin: 0 0 96px 0;
 }
}
@media screen and (max-width: 523px) {
  .profile {
      padding: 70px 30px 40px;
 }
  .profile__form {
      width: 260px
 }
  .profile__header{
      margin: 0 0 80px;
      font-size: 24px;
      line-height: 29px;
 }
  .profile__button{
      margin: 379px 0 16px 0;
      font-size: 12px;
      line-height: 15px;
 }
  .profile__link{
      font-size: 12px;
      line-height: 15px;
 }
}
