.header {
  background-color: #dddee3;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 18px 70px;
}
.header_white {
  background-color: #fafafa;
}
.header__logo {
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 38px;
}
.header__auth-container {
  display: flex;
  flex-direction: row;
  font-style: normal;
  justify-content: center;
  align-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__auth-container_hidden {
  display: none;
}

.header__movie-container {
  display: flex;
  flex-direction: row;
  font-style: normal;
  justify-content: center;
  align-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__movie-container_hidden{
  display: none;
}

.header__signup {
  margin-right: 30px;
  text-decoration: none;
  color: black;
  align-self: center;
  cursor: pointer;
}
.header__button {
  background-color: #3456f3;
  border-style: none;
  border-radius: 3px;
  color: white;
  width: 76px;
  height: 32px;
  cursor: pointer;
  padding: 0;
}
.header__button:hover {
  opacity: 0.8;
}

.header__link {
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
}

.header__link:hover {
  opacity: 0.8;
}

.header__icon {
  width: 10px;
  height: 10px;
  align-self: center;
}

.header__account {
  margin-right: 13px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: black;
  align-self: center;
}
.header__account_bold {
  font-weight: bold;
}

.header__account:hover {
  text-decoration:underline;
}


.header__hamburger-menu {
  visibility: hidden;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 15px;
  right: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 4;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  height: 100%;
  width: 47%;
  margin: 0;
  padding: 159px 90px 92px;
  list-style: none;
  text-align: center;
  background-color: #fafafa;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

/* элементы меню */
.menu__item {
  display: block;
  color: #333;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  margin-bottom: 28px;
}

.menu__item:hover {
  text-decoration: underline;
}

.menu__container {
  display: flex;
  flex-direction: row;
  font-style: normal;
  justify-content: center;
  align-content: center;
  margin-top: 621px;
}

.menu__link {
  text-decoration: none;
  color: black;
  align-self: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-right: 13px;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

@media screen and (max-width: 999px) {
  .header {
    padding: 18px 30px;
  }


  .header__movie-container {
    visibility: hidden;
  }


  .header__hamburger-menu {
    visibility: visible;
  }
}

@media screen and (max-width: 523px) {
  .header {
    padding: 18px 14px;
  }
  .header__signup {
    margin-right: 14px;
  }
  .header__auth-container {
    font-size: 10px;
    line-height: 16px;
  }

  .header__movie-container {
    font-size: 10px;
    line-height: 16px;
  }

  .header__button {
    width: 54px;
    height: 26px;
  }
  .header__signup {
    margin-right: 14px;
  }
  .menu__box {
    width: 100%;
    padding: 144px 10px 48px;
  }

  .menu__btn {
    top: 13px;
    right: 13px;
  }
}
