.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 79px 70px 20px;
  background-color: #F8F8F8;
}
.footer__title{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  padding-bottom: 20px;
  color: #A0A0A0;
}
.footer__infobox{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding-top: 20px;
}
.footer__copyright{
  margin: 0;
  font-style: normal;
  font-weight: normal;
}
.footer__links{
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}
.footer__link{
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  margin: 0 20px 0 0;
  color: black;
}


@media screen and (max-width: 999px) {
  .footer {
      padding: 79px 30px 20px;
 }
}

@media screen and (max-width: 523px) {
  .footer {
      padding: 79px 10px 10px;
 }
  .footer__title{
      font-size: 12px;
      line-height: 15px;
      padding-bottom: 21px;
      justify-content: center;
     ;
 }
  .footer__infobox{
      text-align: center;
      flex-direction: column;
      font-size: 12px;
      line-height: 15px;
      padding-top: 10px;
 }
  .footer__links{
      order: 1;
      flex-direction: column;
      text-align: center;
 }
  .footer__link{
      display: block;
      margin-bottom: 12px;
      font-size: 12px;
      line-height: 15px;
 }
  .footer__copyright{
      order: 2;
      color: #A0A0A0;
      font-size: 12px;
      line-height: 15px;
      padding-top: 18px;
      align-self: center;
 }
}
