.techs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 70px;
  background-color: #f5f5f5;
}

.techs__title {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  padding-top: 90px;
  margin: 0;
}

.techs__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  text-align: center;
  padding: 26px 0 100px;
  margin: 0;
}

.navigation__link_square {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  border-radius: 10px;
  color: black;
  width: 90px;
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 999px) {
  .techs {
    padding: 90px 50px;
  }
  .techs__title {
    padding-top: 80px;
  }
  .techs__text {
    padding: 22px 0 83px;
    max-width: 460px;
  }
  .navigation__link_square {
    font-size: 12px;
    line-height: 15px;
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 523px) {
  .techs {
    padding: 70px 18px;
  }
  .techs__title {
    font-size: 30px;
    line-height: 36px;
    padding: 60px 0 24px;
  }
  .techs__text {
    font-size: 11px;
    line-height: 16px;
    padding: 0 0 50px 0;
    max-width: 292px;
  }
  .navigation__menu_square {
    display: grid;
    grid-template-columns: repeat(2, 84px);
    grid-template-rows: repeat(4, 57px);
    gap: 10px;
    padding: 0;
  }
  .navigation__link_square {
    font-size: 12px;
    line-height: 15px;
    width: 84px;
    height: 57px;
  }
}
